@media screen and (max-width: 800px) {
	#header-background {
		height: 100%;
	}
	#habitable-zone {
	margin-top: 20%;
	}
	#habitable-zone-background {
		height: 350%;
	}
	#surface-temperature {
		margin-top: 260%;
	}
	#surface-temperature-background {
		height: 700%;
	}
	.planet-name {
		width: 35%;
	}
}

/* NOT WORKING AS EXPECTED */
@media screen and (max-width: 500px) {
	#header-background {
		height: 100%;
	}
	#habitable-zone {
	margin-top: 40%;
	}
	#habitable-zone-background {
		height: 450%;
	}
	#surface-temperature {
		margin-top: 360%;
	}
	#surface-temperature-background {
		height: 200%;
	}
	.planet-name {
		width: 35%;
	}
}

