:root {
	--color-1: #000000;
	--color-2: #DC3545;
	--color-3: #FFA500;
	--color-4: #072F5F;
	--color-5: #58CCED;
	--color-6: #006400;
	--color-7: #7CFC00;
}
body {
	color: white;
	background-color: var(--color-1);
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	text-align: center;
}
p {
	font-size: 1.5em;
}
img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

/*
	CSS for Title
*/
#title {
	display: block;
	color: white;
	font-size: 1.5em;
	padding: 1%;
	text-decoration: none;
	background-color: var(--color-1);
	text-align: center;
	height: 10%;
	margin-bottom: 0px;
}

/*
	CSS for Header
*/
#header {
	position: relative;
	height: 80vh;
	display: block;
}
#header-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background: linear-gradient(15deg, var(--color-2), var(--color-3));
	overflow: hidden;
	transform: skewY(-10deg);
	z-index: -1;
}
#header-content {
	text-align: center;
	padding: 12%;
}
#header-content h1 {
	font-size: 3em;
}
#header-content p {
	font-size: 2em;
}

/*
	Style for div with class habitable-zone
*/
#habitable-zone {
	margin-top: 10%;
	position: relative;
	height: 80vh;
	display: block;
}
#habitable-zone-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 250%;
	margin-top: 35%;
	background: linear-gradient(15deg, var(--color-4), var(--color-5));
	overflow: hidden;
	transform: skewY(10deg);
	z-index: -1;
}

/*
	Style for div with class surface-temperature
*/
#surface-temperature {
	position: relative;
	display: block;
	height: 80vh;
	margin-top: 120%;  /* !! FIND A BETTER WAY TO DO THIS !! */ 
}
#surface-temperature-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400%;
	margin-top: 35%;
	background: linear-gradient(15deg, var(--color-6), var(--color-7));
	overflow: hidden;
	transform: skewY(-10deg);
	z-index: -1;
}

/*
	Style for displaying planet names
*/
.planet-name {
	display: inline-block;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 1%;
	margin-top: 15px;
	width: 20%;
	height: 5%;
	font-size: 1.2em;
}
.formula {
	font-size: 1em;
}