<!DOCTYPE html>
<html>
<head>
	<!-- Links to Libraries -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">

	<title>Exoplanets</title>
</head>
<body>

<!-- Title -->
<div id="title">Exoplanet</div>

<!-- Front -->
<div id="header">
	<div id="header-background"></div>
	<div id="header-content">
		<h1>Exoplanet</h1>
		<p>An exoplanet or extrasolar planet is a planet outside the Sun's solar system.</p>
	</div>
</div>

<!-- Planets in their respective habitable zone -->
<div id="habitable-zone">
	<div id="habitable-zone-background"></div>

	<h1><u>Planets in their Habitable Zone</u></h1>
	<p>Habitable zone, the orbital region around a star in which an Earth-like planet can possess liquid water on its surface and possibly support life. Liquid water is essential to all life on Earth, and so the definition of a habitable zone is based on the hypothesis that extraterrestrial life would share this requirement.</p>
	<p class="formula">
		$$Semi Minor Axis = \sqrt{(semimajoraxis^2) (1 - (eccentricity^2))}$$
		$$Luminosity = 4 \pi \sigma (hoststarradius^2) (hoststartemp ^ 4)$$
		$$Inner Radius of Habitable Zone (AU)= {\sqrt{L \over 1.1}}.$$
		$$Outer Radius of Habitable Zone (AU)= {\sqrt{L \over 0.53}}.$$
	</p>
	<img src="{{ url_for('static', filename = 'habitable_zone.png') }}">

	{% for planet in planets_in_habitable_zone %}

		<div class="planet-name"> {{ planet }} </div>

	{% endfor %}
</div>

<!-- Planets with suitable Surface Temperature -->
<div id="surface-temperature">
	<div id="surface-temperature-background"></div>
	<h1><u>Planets with suitable Surface Temperature</u></h1>
	<p>Life can grow and reproduce at temperatures as low as −15 °C (258.15 K) and as high as 122 °C (395.15 K).</p>
	<img src="{{ url_for('static', filename = 'surface_temperature.png') }}">
	
	{% for planet in planets_with_suitable_surface_temperature %}

		<div class="planet-name"> {{ planet }} </div>

	{% endfor %}
</div>

</body>
</html>